#-------------------------------------------------------
# Application
#-------------------------------------------------------
APP_NAME=NOVAFRAME
APP_BASE_URL="http://localhost/novaframe/public"
APP_BASE_PATH="C:/wamp64/www/novaframe"
APP_ENVIRONMENT=development
APP_TIME_ZONE=Asia/Yangon
APP_LOCALE=en

#-----------------------------------
# Database
#-----------------------------------
DB_DRIVER=mysql
DB_ENGINE=INNODB
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=novaframe
DB_CHAR=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

#----------------------------------
# Session
#----------------------------------
SESSION_NAME=_novaframe_php_session
SESSION_SECURE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=Strict
SESSION_TIME_OUT=3600

#--------------------------------
# Cookie
#--------------------------------
COOKIE_PATH="/"
COOKIE_EXPIRE=604800
COOKIE_DOMAIN=
COOKIE_SECURE=
COOKIE_HTTPONLY=

#---------------------------------
# Mail
#---------------------------------
MAIL_ADDRESS=test@example.com
MAIL_NAME=NOVAFRAME
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
